{
    "swagger":"2.0",
    "info":{
        "description":"Accredo Web Service",
        "version":"7.0.13.109",
        "title":"Accredo Web Service"        
        },
    "host":"demo.accredo.co.nz:6569",
    "basePath":"/saturn/odata4/v1/Company('demo')",
    "schemes":["http","https"],
    "paths":{
        "/APAllocation('{AllocationID}')":{
            "get":{
                "tags":["APAllocation"],
                "produces":["application/json"],
                "parameters":[{
                    "name":"AllocationID",
                    "in":"path",
                    "type":"integer",
                    "required":true                    
                    }],
                "responses":{
                    "200":{
                        "description":"success",
                        "schema":{
                            "$ref":"#/definitions/APAllocation"                            
                            }                        
                        },
                    "400":{
                        "description":"Bad Request"                        
                        },
                    "404":{
                        "description":"APAllocation not found"                        
                        }                    
                    }                
                },
            "delete":{
                "tags":["APAllocation"],
                "consumes":["application/json"],
                "produces":["application/json"],
                "parameters":[{
                    "name":"AllocationID",
                    "in":"path",
                    "type":"integer",
                    "required":true                    
                    }],
                "responses":{
                    "200":{
                        "description":"success"                        
                        },
                    "400":{
                        "description":"Bad Request"                        
                        },
                    "404":{
                        "description":"APAllocation not found"                        
                        }                    
                    }                
                }            
            },
        "/APAllocation":{
            "get":{
                "tags":["APAllocation"],
                "produces":["application/json"],
                "responses":{
                    "200":{
                        "description":"success",
                        "schema":{
                            "$ref":"#/definitions/APAllocation"                            
                            }                        
                        },
                    "400":{
                        "description":"Bad Request"                        
                        },
                    "404":{
                        "description":"APAllocation not found"                        
                        }                    
                    }                
                }            
            },
        "/APBudget('{CreditorCode}')":{
            "get":{
                "tags":["APBudget"],
                "produces":["application/json"],
                "parameters":[{
                    "name":"CreditorCode",
                    "in":"path",
                    "type":"string",
                    "required":true                    
                    }],
                "responses":{
                    "200":{
                        "description":"success",
                        "schema":{
                            "$ref":"#/definitions/APBudget"                            
                            }                        
                        },
                    "400":{
                        "description":"Bad Request"                        
                        },
                    "404":{
                        "description":"APBudget not found"                        
                        }                    
                    }                
                },
            "put":{
                "tags":["APBudget"],
                "consumes":["application/json"],
                "produces":["application/json"],
                "parameters":[{
                    "name":"CreditorCode",
                    "in":"path",
                    "type":"string",
                    "required":true                    
                    },{
                    "in":"body",
                    "name":"body",
                    "schema":{
                        "$ref":"#/definitions/APBudget"                        
                        },
                    "required":true                    
                    }],
                "responses":{
                    "200":{
                        "description":"success"                        
                        },
                    "400":{
                        "description":"Bad Request"                        
                        },
                    "404":{
                        "description":"APBudget not found"                        
                        }                    
                    }                
                },
            "patch":{
                "tags":["APBudget"],
                "consumes":["application/json"],
                "produces":["application/json"],
                "parameters":[{
                    "name":"CreditorCode",
                    "in":"path",
                    "type":"string",
                    "required":true                    
                    },{
                    "in":"body",
                    "name":"body",
                    "schema":{
                        "$ref":"#/definitions/APBudget"                        
                        },
                    "required":true                    
                    }],
                "responses":{
                    "200":{
                        "description":"success"                        
                        },
                    "400":{
                        "description":"Bad Request"                        
                        },
                    "404":{
                        "description":"APBudget not found"                        
                        }                    
                    }                
                }            
            },
        "/APBudget":{
            "get":{
                "tags":["APBudget"],
                "produces":["application/json"],
                "responses":{
                    "200":{
                        "description":"success",
                        "schema":{
                            "$ref":"#/definitions/APBudget"                            
                            }                        
                        },
                    "400":{
                        "description":"Bad Request"                        
                        },
                    "404":{
                        "description":"APBudget not found"                        
                        }                    
                    }                
                }            
            },
        "/APCategory1('{Code}')":{
            "get":{
                "tags":["APCategory1"],
                "produces":["application/json"],
                "parameters":[{
                    "name":"Code",
                    "in":"path",
                    "type":"string",
                    "required":true                    
                    }],
                "responses":{
                    "200":{
                        "description":"success",
                        "schema":{
                            "$ref":"#/definitions/APCategory1"                            
                            }                        
                        },
                    "400":{
                        "description":"Bad Request"                        
                        },
                    "404":{
                        "description":"APCategory1 not found"                        
                        }                    
                    }                
                },
            "delete":{
                "tags":["APCategory1"],
                "consumes":["application/json"],
                "produces":["application/json"],
                "parameters":[{
                    "name":"Code",
                    "in":"path",
                    "type":"string",
                    "required":true                    
                    }],
                "responses":{
                    "200":{
                        "description":"success"                        
                        },
                    "400":{
                        "description":"Bad Request"                        
                        },
                    "404":{
                        "description":"APCategory1 not found"                        
                        }                    
                    }                
                },
            "put":{
                "tags":["APCategory1"],
                "consumes":["application/json"],
                "produces":["application/json"],
                "parameters":[{
                    "name":"Code",
                    "in":"path",
                    "type":"string",
                    "required":true                    
                    },{
                    "in":"body",
                    "name":"body",
                    "schema":{
                        "$ref":"#/definitions/APCategory1"                        
                        },
                    "required":true                    
                    }],
                "responses":{
                    "200":{
                        "description":"success"                        
                        },
                    "400":{
                        "description":"Bad Request"                        
                        },
                    "404":{
                        "description":"APCategory1 not found"                        
                        }                    
                    }                
                },
            "patch":{
                "tags":["APCategory1"],
                "consumes":["application/json"],
                "produces":["application/json"],
                "parameters":[{
                    "name":"Code",
                    "in":"path",
                    "type":"string",
                    "required":true                    
                    },{
                    "in":"body",
                    "name":"body",
                    "schema":{
                        "$ref":"#/definitions/APCategory1"                        
                        },
                    "required":true                    
                    }],
                "responses":{
                    "200":{
                        "description":"success"                        
                        },
                    "400":{
                        "description":"Bad Request"                        
                        },
                    "404":{
                        "description":"APCategory1 not found"                        
                        }                    
                    }                
                }            
            },
        "/APCategory1":{
            "post":{
                "tags":["APCategory1"],
                "consumes":["application/json"],
                "produces":["application/json"],
                "parameters":[{
                    "in":"body",
                    "name":"body",
                    "schema":{
                        "$ref":"#/definitions/APCategory1"                        
                        },
                    "required":true                    
                    }],
                "responses":{
                    "200":{
                        "description":"success"                        
                        },
                    "400":{
                        "description":"Bad Request"                        
                        },
                    "404":{
                        "description":"APCategory1 not found"                        
                        }                    
                    }                
                },
            "get":{
                "tags":["APCategory1"],
                "produces":["application/json"],
                "responses":{
                    "200":{
                        "description":"success",
                        "schema":{
                            "$ref":"#/definitions/APCategory1"                            
                            }                        
                        },
                    "400":{
                        "description":"Bad Request"                        
                        },
                    "404":{
                        "description":"APCategory1 not found"                        
                        }                    
                    }                
                }            
            },
        "/APCategory2('{Code}')":{
            "get":{
                "tags":["APCategory2"],
                "produces":["application/json"],
                "parameters":[{
                    "name":"Code",
                    "in":"path",
                    "type":"string",
                    "required":true                    
                    }],
                "responses":{
                    "200":{
                        "description":"success",
                        "schema":{
                            "$ref":"#/definitions/APCategory2"                            
                            }                        
                        },
                    "400":{
                        "description":"Bad Request"                        
                        },
                    "404":{
                        "description":"APCategory2 not found"                        
                        }                    
                    }                
                },
            "delete":{
                "tags":["APCategory2"],
                "consumes":["application/json"],
                "produces":["application/json"],
                "parameters":[{
                    "name":"Code",
                    "in":"path",
                    "type":"string",
                    "required":true                    
                    }],
                "responses":{
                    "200":{
                        "description":"success"                        
                        },
                    "400":{
                        "description":"Bad Request"                        
                        },
                    "404":{
                        "description":"APCategory2 not found"                        
                        }                    
                    }                
                },
            "put":{
                "tags":["APCategory2"],
                "consumes":["application/json"],
                "produces":["application/json"],
                "parameters":[{
                    "name":"Code",
                    "in":"path",
                    "type":"string",
                    "required":true                    
                    },{
                    "in":"body",
                    "name":"body",
                    "schema":{
                        "$ref":"#/definitions/APCategory2"                        
                        },
                    "required":true                    
                    }],
                "responses":{
                    "200":{
                        "description":"success"                        
                        },
                    "400":{
                        "description":"Bad Request"                        
                        },
                    "404":{
                        "description":"APCategory2 not found"                        
                        }                    
                    }                
                },
            "patch":{
                "tags":["APCategory2"],
                "consumes":["application/json"],
                "produces":["application/json"],
                "parameters":[{
                    "name":"Code",
                    "in":"path",
                    "type":"string",
                    "required":true                    
                    },{
                    "in":"body",
                    "name":"body",
                    "schema":{
                        "$ref":"#/definitions/APCategory2"                        
                        },
                    "required":true                    
                    }],
                "responses":{
                    "200":{
                        "description":"success"                        
                        },
                    "400":{
                        "description":"Bad Request"                        
                        },
                    "404":{
                        "description":"APCategory2 not found"                        
                        }                    
                    }                
                }            
            },
        "/APCategory2":{
            "post":{
                "tags":["APCategory2"],
                "consumes":["application/json"],
                "produces":["application/json"],
                "parameters":[{
                    "in":"body",
                    "name":"body",
                    "schema":{
                        "$ref":"#/definitions/APCategory2"                        
                        },
                    "required":true                    
                    }],
                "responses":{
                    "200":{
                        "description":"success"                        
                        },
                    "400":{
                        "description":"Bad Request"                        
                        },
                    "404":{
                        "description":"APCategory2 not found"                        
                        }                    
                    }                
                },
            "get":{
                "tags":["APCategory2"],
                "produces":["application/json"],
                "responses":{
                    "200":{
                        "description":"success",
                        "schema":{
                            "$ref":"#/definitions/APCategory2"                            
                            }                        
                        },
                    "400":{
                        "description":"Bad Request"                        
                        },
                    "404":{
                        "description":"APCategory2 not found"                        
                        }                    
                    }                
                }            
            },
        "/APContact('{ContactID}')":{
            "get":{
                "tags":["APContact"],
                "produces":["application/json"],
                "parameters":[{
                    "name":"ContactID",
                    "in":"path",
                    "type":"integer",
                    "required":true                    
                    }],
                "responses":{
                    "200":{
                        "description":"success",
                        "schema":{
                            "$ref":"#/definitions/APContact"                            
                            }                        
                        },
                    "400":{
                        "description":"Bad Request"                        
                        },
                    "404":{
                        "description":"APContact not found"                        
                        }                    
                    }                
                },
            "delete":{
                "tags":["APContact"],
                "consumes":["application/json"],
                "produces":["application/json"],
                "parameters":[{
                    "name":"ContactID",
                    "in":"path",
                    "type":"integer",
                    "required":true                    
                    }],
                "responses":{
                    "200":{
                        "description":"success"                        
                        },
                    "400":{
                        "description":"Bad Request"                        
                        },
                    "404":{
                        "description":"APContact not found"                        
                        }                    
                    }                
                },
            "put":{
                "tags":["APContact"],
                "consumes":["application/json"],
                "produces":["application/json"],
                "parameters":[{
                    "name":"ContactID",
                    "in":"path",
                    "type":"integer",
                    "required":true                    
                    },{
                    "in":"body",
                    "name":"body",
                    "schema":{
                        "$ref":"#/definitions/APContact"                        
                        },
                    "required":true                    
                    }],
                "responses":{
                    "200":{
                        "description":"success"                        
                        },
                    "400":{
                        "description":"Bad Request"                        
                        },
                    "404":{
                        "description":"APContact not found"                        
                        }                    
                    }                
                },
            "patch":{
                "tags":["APContact"],
                "consumes":["application/json"],
                "produces":["application/json"],
                "parameters":[{
                    "name":"ContactID",
                    "in":"path",
                    "type":"integer",
                    "required":true                    
                    },{
                    "in":"body",
                    "name":"body",
                    "schema":{
                        "$ref":"#/definitions/APContact"                        
                        },
                    "required":true                    
                    }],
                "responses":{
                    "200":{
                        "description":"success"                        
                        },
                    "400":{
                        "description":"Bad Request"                        
                        },
                    "404":{
                        "description":"APContact not found"                        
                        }                    
                    }                
                }            
            },
        "/APContact":{
            "post":{
                "tags":["APContact"],
                "consumes":["application/json"],
                "produces":["application/json"],
                "parameters":[{
                    "in":"body",
                    "name":"body",
                    "schema":{
                        "$ref":"#/definitions/APContact"                        
                        },
                    "required":true                    
                    }],
                "responses":{
                    "200":{
                        "description":"success"                        
                        },
                    "400":{
                        "description":"Bad Request"                        
                        },
                    "404":{
                        "description":"APContact not found"                        
                        }                    
                    }                
                },
            "get":{
                "tags":["APContact"],
                "produces":["application/json"],
                "responses":{
                    "200":{
                        "description":"success",
                        "schema":{
                            "$ref":"#/definitions/APContact"                            
                            }                        
                        },
                    "400":{
                        "description":"Bad Request"                        
                        },
                    "404":{
                        "description":"APContact not found"                        
                        }                    
                    }                
                }            
            },
        "/APCostCode('{CostCode}')":{
            "get":{
                "tags":["APCostCode"],
                "produces":["application/json"],
                "parameters":[{
                    "name":"CostCode",
                    "in":"path",
                    "type":"string",
                    "required":true                    
                    }],
                "responses":{
                    "200":{
                        "description":"success",
                        "schema":{
                            "$ref":"#/definitions/APCostCode"                            
                            }                        
                        },
                    "400":{
                        "description":"Bad Request"                        
                        },
                    "404":{
                        "description":"APCostCode not found"                        
                        }                    
                    }                
                },
            "delete":{
                "tags":["APCostCode"],
                "consumes":["application/json"],
                "produces":["application/json"],
                "parameters":[{
                    "name":"CostCode",
                    "in":"path",
                    "type":"string",
                    "required":true                    
                    }],
                "responses":{
                    "200":{
                        "description":"success"                        
                        },
                    "400":{
                        "description":"Bad Request"                        
                        },
                    "404":{
                        "description":"APCostCode not found"                        
                        }                    
                    }                
                },
            "put":{
                "tags":["APCostCode"],
                "consumes":["application/json"],
                "produces":["application/json"],
                "parameters":[{
                    "name":"CostCode",
                    "in":"path",
                    "type":"string",
                    "required":true                    
                    },{
                    "in":"body",
                    "name":"body",
                    "schema":{
                        "$ref":"#/definitions/APCostCode"                        
                        },
                    "required":true                    
                    }],
                "responses":{
                    "200":{
                        "description":"success"                        
                        },
                    "400":{
                        "description":"Bad Request"                        
                        },
                    "404":{
                        "description":"APCostCode not found"                        
                        }                    
                    }                
                },
            "patch":{
                "tags":["APCostCode"],
                "consumes":["application/json"],
                "produces":["application/json"],
                "parameters":[{
                    "name":"CostCode",
                    "in":"path",
                    "type":"string",
                    "required":true                    
                    },{
                    "in":"body",
                    "name":"body",
                    "schema":{
                        "$ref":"#/definitions/APCostCode"                        
                        },
                    "required":true                    
                    }],
                "responses":{
                    "200":{
                        "description":"success"                        
                        },
                    "400":{
                        "description":"Bad Request"                        
                        },
                    "404":{
                        "description":"APCostCode not found"                        
                        }                    
                    }                
                }            
            },
        "/APCostCode":{
            "post":{
                "tags":["APCostCode"],
                "consumes":["application/json"],
                "produces":["application/json"],
                "parameters":[{
                    "in":"body",
                    "name":"body",
                    "schema":{
                        "$ref":"#/definitions/APCostCode"                        
                        },
                    "required":true                    
                    }],
                "responses":{
                    "200":{
                        "description":"success"                        
                        },
                    "400":{
                        "description":"Bad Request"                        
                        },
                    "404":{
                        "description":"APCostCode not found"                        
                        }                    
                    }                
                },
            "get":{
                "tags":["APCostCode"],
                "produces":["application/json"],
                "responses":{
                    "200":{
                        "description":"success",
                        "schema":{
                            "$ref":"#/definitions/APCostCode"                            
                            }                        
                        },
                    "400":{
                        "description":"Bad Request"                        
                        },
                    "404":{
                        "description":"APCostCode not found"                        
                        }                    
                    }                
                }            
            },
        "/APCreditor('{CreditorCode}')":{
            "get":{
                "tags":["APCreditor"],
                "produces":["application/json"],
                "parameters":[{
                    "name":"CreditorCode",
                    "in":"path",
                    "type":"string",
                    "required":true                    
                    }],
                "responses":{
                    "200":{
                        "description":"success",
                        "schema":{
                            "$ref":"#/definitions/APCreditor"                            
                            }                        
                        },
                    "400":{
                        "description":"Bad Request"                        
                        },
                    "404":{
                        "description":"APCreditor not found"                        
                        }                    
                    }                
                },
            "delete":{
                "tags":["APCreditor"],
                "consumes":["application/json"],
                "produces":["application/json"],
                "parameters":[{
                    "name":"CreditorCode",
                    "in":"path",
                    "type":"string",
                    "required":true                    
                    }],
                "responses":{
                    "200":{
                        "description":"success"                        
                        },
                    "400":{
                        "description":"Bad Request"                        
                        },
                    "404":{
                        "description":"APCreditor not found"                        
                        }                    
                    }                
                },
            "put":{
                "tags":["APCreditor"],
                "consumes":["application/json"],
                "produces":["application/json"],
                "parameters":[{
                    "name":"CreditorCode",
                    "in":"path",
                    "type":"string",
                    "required":true                    
                    },{
                    "in":"body",
                    "name":"body",
                    "schema":{
                        "$ref":"#/definitions/APCreditor"                        
                        },
                    "required":true                    
                    }],
                "responses":{
                    "200":{
                        "description":"success"                        
                        },
                    "400":{
                        "description":"Bad Request"                        
                        },
                    "404":{
                        "description":"APCreditor not found"                        
                        }                    
                    }                
                },
            "patch":{
                "tags":["APCreditor"],
                "consumes":["application/json"],
                "produces":["application/json"],
                "parameters":[{
                    "name":"CreditorCode",
                    "in":"path",
                    "type":"string",
                    "required":true                    
                    },{
                    "in":"body",
                    "name":"body",
                    "schema":{
                        "$ref":"#/definitions/APCreditor"                        
                        },
                    "required":true                    
                    }],
                "responses":{
                    "200":{
                        "description":"success"                        
                        },
                    "400":{
                        "description":"Bad Request"                        
                        },
                    "404":{
                        "description":"APCreditor not found"                        
                        }                    
                    }                
                }            
            },
        "/APCreditor":{
            "post":{
                "tags":["APCreditor"],
                "consumes":["application/json"],
                "produces":["application/json"],
                "parameters":[{
                    "in":"body",
                    "name":"body",
                    "schema":{
                        "$ref":"#/definitions/APCreditor"                        
                        },
                    "required":true                    
                    }],
                "responses":{
                    "200":{
                        "description":"success"                        
                        },
                    "400":{
                        "description":"Bad Request"                        
                        },
                    "404":{
                        "description":"APCreditor not found"                        
                        }                    
                    }                
                },
            "get":{
                "tags":["APCreditor"],
                "produces":["application/json"],
                "responses":{
                    "200":{
                        "description":"success",
                        "schema":{
                            "$ref":"#/definitions/APCreditor"                            
                            }                        
                        },
                    "400":{
                        "description":"Bad Request"                        
                        },
                    "404":{
                        "description":"APCreditor not found"                        
                        }                    
                    }                
                }            
            },
        "/APCreditorGroup('{CreditorGroupCode}')":{
            "get":{
                "tags":["APCreditorGroup"],
                "produces":["application/json"],
                "parameters":[{
                    "name":"CreditorGroupCode",
                    "in":"path",
                    "type":"string",
                    "required":true                    
                    }],
                "responses":{
                    "200":{
                        "description":"success",
                        "schema":{
                            "$ref":"#/definitions/APCreditorGroup"                            
                            }                        
                        },
                    "400":{
                        "description":"Bad Request"                        
                        },
                    "404":{
                        "description":"APCreditorGroup not found"                        
                        }                    
                    }                
                },
            "delete":{
                "tags":["APCreditorGroup"],
                "consumes":["application/json"],
                "produces":["application/json"],
                "parameters":[{
                    "name":"CreditorGroupCode",
                    "in":"path",
                    "type":"string",
                    "required":true                    
                    }],
                "responses":{
                    "200":{
                        "description":"success"                        
                        },
                    "400":{
                        "description":"Bad Request"                        
                        },
                    "404":{
                        "description":"APCreditorGroup not found"                        
                        }                    
                    }                
                },
            "put":{
                "tags":["APCreditorGroup"],
                "consumes":["application/json"],
                "produces":["application/json"],
                "parameters":[{
                    "name":"CreditorGroupCode",
                    "in":"path",
                    "type":"string",
                    "required":true                    
                    },{
                    "in":"body",
                    "name":"body",
                    "schema":{
                        "$ref":"#/definitions/APCreditorGroup"                        
                        },
                    "required":true                    
                    }],
                "responses":{
                    "200":{
                        "description":"success"                        
                        },
                    "400":{
                        "description":"Bad Request"                        
                        },
                    "404":{
                        "description":"APCreditorGroup not found"                        
                        }                    
                    }                
                },
            "patch":{
                "tags":["APCreditorGroup"],
                "consumes":["application/json"],
                "produces":["application/json"],
                "parameters":[{
                    "name":"CreditorGroupCode",
                    "in":"path",
                    "type":"string",
                    "required":true                    
                    },{
                    "in":"body",
                    "name":"body",
                    "schema":{
                        "$ref":"#/definitions/APCreditorGroup"                        
                        },
                    "required":true                    
                    }],
                "responses":{
                    "200":{
                        "description":"success"                        
                        },
                    "400":{
                        "description":"Bad Request"                        
                        },
                    "404":{
                        "description":"APCreditorGroup not found"                        
                        }                    
                    }                
                }            
            },
        "/APCreditorGroup":{
            "post":{
                "tags":["APCreditorGroup"],
                "consumes":["application/json"],
                "produces":["application/json"],
                "parameters":[{
                    "in":"body",
                    "name":"body",
                    "schema":{
                        "$ref":"#/definitions/APCreditorGroup"                        
                        },
                    "required":true                    
                    }],
                "responses":{
                    "200":{
                        "description":"success"                        
                        },
                    "400":{
                        "description":"Bad Request"                        
                        },
                    "404":{
                        "description":"APCreditorGroup not found"                        
                        }                    
                    }                
                },
            "get":{
                "tags":["APCreditorGroup"],
                "produces":["application/json"],
                "responses":{
                    "200":{
                        "description":"success",
                        "schema":{
                            "$ref":"#/definitions/APCreditorGroup"                            
                            }                        
                        },
                    "400":{
                        "description":"Bad Request"                        
                        },
                    "404":{
                        "description":"APCreditorGroup not found"                        
                        }                    
                    }                
                }            
            },
        "/APCreditorList('{CreditorCode}')":{
            "get":{
                "tags":["APCreditorList"],
                "produces":["application/json"],
                "parameters":[{
                    "name":"CreditorCode",
                    "in":"path",
                    "type":"string",
                    "required":true                    
                    }],
                "responses":{
                    "200":{
                        "description":"success",
                        "schema":{
                            "$ref":"#/definitions/APCreditorList"                            
                            }                        
                        },
                    "400":{
                        "description":"Bad Request"                        
                        },
                    "404":{
                        "description":"APCreditorList not found"                        
                        }                    
                    }                
                }            
            },
        "/APCreditorList":{
            "get":{
                "tags":["APCreditorList"],
                "produces":["application/json"],
                "responses":{
                    "200":{
                        "description":"success",
                        "schema":{
                            "$ref":"#/definitions/APCreditorList"                            
                            }                        
                        },
                    "400":{
                        "description":"Bad Request"                        
                        },
                    "404":{
                        "description":"APCreditorList not found"                        
                        }                    
                    }                
                }            
            },
        "/APExpenseBudget('{AnalysisCode}')":{
            "get":{
                "tags":["APExpenseBudget"],
                "produces":["application/json"],
                "parameters":[{
                    "name":"AnalysisCode",
                    "in":"path",
                    "type":"string",
                    "required":true                    
                    }],
                "responses":{
                    "200":{
                        "description":"success",
                        "schema":{
                            "$ref":"#/definitions/APExpenseBudget"                            
                            }                        
                        },
                    "400":{
                        "description":"Bad Request"                        
                        },
                    "404":{
                        "description":"APExpenseBudget not found"                        
                        }                    
                    }                
                },
            "put":{
                "tags":["APExpenseBudget"],
                "consumes":["application/json"],
                "produces":["application/json"],
                "parameters":[{
                    "name":"AnalysisCode",
                    "in":"path",
                    "type":"string",
                    "required":true                    
                    },{
                    "in":"body",
                    "name":"body",
                    "schema":{
                        "$ref":"#/definitions/APExpenseBudget"                        
                        },
                    "required":true                    
                    }],
                "responses":{
                    "200":{
                        "description":"success"                        
                        },
                    "400":{
                        "description":"Bad Request"                        
                        },
                    "404":{
                        "description":"APExpenseBudget not found"                        
                        }                    
                    }                
                },
            "patch":{
                "tags":["APExpenseBudget"],
                "consumes":["application/json"],
                "produces":["application/json"],
                "parameters":[{
                    "name":"AnalysisCode",
                    "in":"path",
                    "type":"string",
                    "required":true                    
                    },{
                    "in":"body",
                    "name":"body",
                    "schema":{
                        "$ref":"#/definitions/APExpenseBudget"                        
                        },
                    "required":true                    
                    }],
                "responses":{
                    "200":{
                        "description":"success"                        
                        },
                    "400":{
                        "description":"Bad Request"                        
                        },
                    "404":{
                        "description":"APExpenseBudget not found"                        
                        }                    
                    }                
                }            
            },
        "/APExpenseBudget":{
            "get":{
                "tags":["APExpenseBudget"],
                "produces":["application/json"],
                "responses":{
                    "200":{
                        "description":"success",
                        "schema":{
                            "$ref":"#/definitions/APExpenseBudget"                            
                            }                        
                        },
                    "400":{
                        "description":"Bad Request"                        
                        },
                    "404":{
                        "description":"APExpenseBudget not found"                        
                        }                    
                    }                
                }            
            },
        "/APExpenseGroup('{AnalysisCode}')":{
            "get":{
                "tags":["APExpenseGroup"],
                "produces":["application/json"],
                "parameters":[{
                    "name":"AnalysisCode",
                    "in":"path",
                    "type":"string",
                    "required":true                    
                    }],
                "responses":{
                    "200":{
                        "description":"success",
                        "schema":{
                            "$ref":"#/definitions/APExpenseGroup"                            
                            }                        
                        },
                    "400":{
                        "description":"Bad Request"                        
                        },
                    "404":{
                        "description":"APExpenseGroup not found"                        
                        }                    
                    }                
                },
            "delete":{
                "tags":["APExpenseGroup"],
                "consumes":["application/json"],
                "produces":["application/json"],
                "parameters":[{
                    "name":"AnalysisCode",
                    "in":"path",
                    "type":"string",
                    "required":true                    
                    }],
                "responses":{
                    "200":{
                        "description":"success"                        
                        },
                    "400":{
                        "description":"Bad Request"                        
                        },
                    "404":{
                        "description":"APExpenseGroup not found"                        
                        }                    
                    }                
                },
            "put":{
                "tags":["APExpenseGroup"],
                "consumes":["application/json"],
                "produces":["application/json"],
                "parameters":[{
                    "name":"AnalysisCode",
                    "in":"path",
                    "type":"string",
                    "required":true                    
                    },{
                    "in":"body",
                    "name":"body",
                    "schema":{
                        "$ref":"#/definitions/APExpenseGroup"                        
                        },
                    "required":true                    
                    }],
                "responses":{
                    "200":{
                        "description":"success"                        
                        },
                    "400":{
                        "description":"Bad Request"                        
                        },
                    "404":{
                        "description":"APExpenseGroup not found"                        
                        }                    
                    }                
                },
            "patch":{
                "tags":["APExpenseGroup"],
                "consumes":["application/json"],
                "produces":["application/json"],
                "parameters":[{
                    "name":"AnalysisCode",
                    "in":"path",
                    "type":"string",
                    "required":true                    
                    },{
                    "in":"body",
                    "name":"body",
                    "schema":{
                        "$ref":"#/definitions/APExpenseGroup"                        
                        },
                    "required":true                    
                    }],
                "responses":{
                    "200":{
                        "description":"success"                        
                        },
                    "400":{
                        "description":"Bad Request"                        
                        },
                    "404":{
                        "description":"APExpenseGroup not found"                        
                        }                    
                    }                
                }            
            },
        "/APExpenseGroup":{
            "post":{
                "tags":["APExpenseGroup"],
                "consumes":["application/json"],
                "produces":["application/json"],
                "parameters":[{
                    "in":"body",
                    "name":"body",
                    "schema":{
                        "$ref":"#/definitions/APExpenseGroup"                        
                        },
                    "required":true                    
                    }],
                "responses":{
                    "200":{
                        "description":"success"                        
                        },
                    "400":{
                        "description":"Bad Request"                        
                        },
                    "404":{
                        "description":"APExpenseGroup not found"                        
                        }                    
                    }                
                },
            "get":{
                "tags":["APExpenseGroup"],
                "produces":["application/json"],
                "responses":{
                    "200":{
                        "description":"success",
                        "schema":{
                            "$ref":"#/definitions/APExpenseGroup"                            
                            }                        
                        },
                    "400":{
                        "description":"Bad Request"                        
                        },
                    "404":{
                        "description":"APExpenseGroup not found"                        
                        }                    
                    }                
                }            
            },
        "/APMemo('{MemoID}')":{
            "get":{
                "tags":["APMemo"],
                "produces":["application/json"],
                "parameters":[{
                    "name":"MemoID",
                    "in":"path",
                    "type":"integer",
                    "required":true                    
                    }],
                "responses":{
                    "200":{
                        "description":"success",
                        "schema":{
                            "$ref":"#/definitions/APMemo"                            
                            }                        
                        },
                    "400":{
                        "description":"Bad Request"                        
                        },
                    "404":{
                        "description":"APMemo not found"                        
                        }                    
                    }                
                },
            "delete":{
                "tags":["APMemo"],
                "consumes":["application/json"],
                "produces":["application/json"],
                "parameters":[{
                    "name":"MemoID",
                    "in":"path",
                    "type":"integer",
                    "required":true                    
                    }],
                "responses":{
                    "200":{
                        "description":"success"                        
                        },
                    "400":{
                        "description":"Bad Request"                        
                        },
                    "404":{
                        "description":"APMemo not found"                        
                        }                    
                    }                
                },
            "put":{
                "tags":["APMemo"],
                "consumes":["application/json"],
                "produces":["application/json"],
                "parameters":[{
                    "name":"MemoID",
                    "in":"path",
                    "type":"integer",
                    "required":true                    
                    },{
                    "in":"body",
                    "name":"body",
                    "schema":{
                        "$ref":"#/definitions/APMemo"                        
                        },
                    "required":true                    
                    }],
                "responses":{
                    "200":{
                        "description":"success"                        
                        },
                    "400":{
                        "description":"Bad Request"                        
                        },
                    "404":{
                        "description":"APMemo not found"                        
                        }                    
                    }                
                },
            "patch":{
                "tags":["APMemo"],
                "consumes":["application/json"],
                "produces":["application/json"],
                "parameters":[{
                    "name":"MemoID",
                    "in":"path",
                    "type":"integer",
                    "required":true                    
                    },{
                    "in":"body",
                    "name":"body",
                    "schema":{
                        "$ref":"#/definitions/APMemo"                        
                        },
                    "required":true                    
                    }],
                "responses":{
                    "200":{
                        "description":"success"                        
                        },
                    "400":{
                        "description":"Bad Request"                        
                        },
                    "404":{
                        "description":"APMemo not found"                        
                        }                    
                    }                
                }            
            },
        "/APMemo":{
            "post":{
                "tags":["APMemo"],
                "consumes":["application/json"],
                "produces":["application/json"],
                "parameters":[{
                    "in":"body",
                    "name":"body",
                    "schema":{
                        "$ref":"#/definitions/APMemo"                        
                        },
                    "required":true                    
                    }],
                "responses":{
                    "200":{
                        "description":"success"                        
                        },
                    "400":{
                        "description":"Bad Request"                        
                        },
                    "404":{
                        "description":"APMemo not found"                        
                        }                    
                    }                
                },
            "get":{
                "tags":["APMemo"],
                "produces":["application/json"],
                "responses":{
                    "200":{
                        "description":"success",
                        "schema":{
                            "$ref":"#/definitions/APMemo"                            
                            }                        
                        },
                    "400":{
                        "description":"Bad Request"                        
                        },
                    "404":{
                        "description":"APMemo not found"                        
                        }                    
                    }                
                }            
            },
        "/APSHCategory1('{Code}')":{
            "get":{
                "tags":["APSHCategory1"],
                "produces":["application/json"],
                "parameters":[{
                    "name":"Code",
                    "in":"path",
                    "type":"string",
                    "required":true                    
                    }],
                "responses":{
                    "200":{
                        "description":"success",
                        "schema":{
                            "$ref":"#/definitions/APSHCategory1"                            
                            }                        
                        },
                    "400":{
                        "description":"Bad Request"                        
                        },
                    "404":{
                        "description":"APSHCategory1 not found"                        
                        }                    
                    }                
                },
            "delete":{
                "tags":["APSHCategory1"],
                "consumes":["application/json"],
                "produces":["application/json"],
                "parameters":[{
                    "name":"Code",
                    "in":"path",
                    "type":"string",
                    "required":true                    
                    }],
                "responses":{
                    "200":{
                        "description":"success"                        
                        },
                    "400":{
                        "description":"Bad Request"                        
                        },
                    "404":{
                        "description":"APSHCategory1 not found"                        
                        }                    
                    }                
                },
            "put":{
                "tags":["APSHCategory1"],
                "consumes":["application/json"],
                "produces":["application/json"],
                "parameters":[{
                    "name":"Code",
                    "in":"path",
                    "type":"string",
                    "required":true                    
                    },{
                    "in":"body",
                    "name":"body",
                    "schema":{
                        "$ref":"#/definitions/APSHCategory1"                        
                        },
                    "required":true                    
                    }],
                "responses":{
                    "200":{
                        "description":"success"                        
                        },
                    "400":{
                        "description":"Bad Request"                        
                        },
                    "404":{
                        "description":"APSHCategory1 not found"                        
                        }                    
                    }                
                },
            "patch":{
                "tags":["APSHCategory1"],
                "consumes":["application/json"],
                "produces":["application/json"],
                "parameters":[{
                    "name":"Code",
                    "in":"path",
                    "type":"string",
                    "required":true                    
                    },{
                    "in":"body",
                    "name":"body",
                    "schema":{
                        "$ref":"#/definitions/APSHCategory1"                        
                        },
                    "required":true                    
                    }],
                "responses":{
                    "200":{
                        "description":"success"                        
                        },
                    "400":{
                        "description":"Bad Request"                        
                        },
                    "404":{
                        "description":"APSHCategory1 not found"                        
                        }                    
                    }                
                }            
            },
        "/APSHCategory1":{
            "post":{
                "tags":["APSHCategory1"],
                "consumes":["application/json"],
                "produces":["application/json"],
                "parameters":[{
                    "in":"body",
                    "name":"body",
                    "schema":{
                        "$ref":"#/definitions/APSHCategory1"                        
                        },
                    "required":true                    
                    }],
                "responses":{
                    "200":{
                        "description":"success"                        
                        },
                    "400":{
                        "description":"Bad Request"                        
                        },
                    "404":{
                        "description":"APSHCategory1 not found"                        
                        }                    
                    }                
                },
            "get":{
                "tags":["APSHCategory1"],
                "produces":["application/json"],
                "responses":{
                    "200":{
                        "description":"success",
                        "schema":{
                            "$ref":"#/definitions/APSHCategory1"                            
                            }                        
                        },
                    "400":{
                        "description":"Bad Request"                        
                        },
                    "404":{
                        "description":"APSHCategory1 not found"                        
                        }                    
                    }                
                }            
            },
        "/APSHCategory2('{Code}')":{
            "get":{
                "tags":["APSHCategory2"],
                "produces":["application/json"],
                "parameters":[{
                    "name":"Code",
                    "in":"path",
                    "type":"string",
                    "required":true                    
                    }],
                "responses":{
                    "200":{
                        "description":"success",
                        "schema":{
                            "$ref":"#/definitions/APSHCategory2"                            
                            }                        
                        },
                    "400":{
                        "description":"Bad Request"                        
                        },
                    "404":{
                        "description":"APSHCategory2 not found"                        
                        }                    
                    }                
                },
            "delete":{
                "tags":["APSHCategory2"],
                "consumes":["application/json"],
                "produces":["application/json"],
                "parameters":[{
                    "name":"Code",
                    "in":"path",
                    "type":"string",
                    "required":true                    
                    }],
                "responses":{
                    "200":{
                        "description":"success"                        
                        },
                    "400":{
                        "description":"Bad Request"                        
                        },
                    "404":{
                        "description":"APSHCategory2 not found"                        
                        }                    
                    }                
                },
            "put":{
                "tags":["APSHCategory2"],
                "consumes":["application/json"],
                "produces":["application/json"],
                "parameters":[{
                    "name":"Code",
                    "in":"path",
                    "type":"string",
                    "required":true                    
                    },{
                    "in":"body",
                    "name":"body",
                    "schema":{
                        "$ref":"#/definitions/APSHCategory2"                        
                        },
                    "required":true                    
                    }],
                "responses":{
                    "200":{
                        "description":"success"                        
                        },
                    "400":{
                        "description":"Bad Request"                        
                        },
                    "404":{
                        "description":"APSHCategory2 not found"                        
                        }                    
                    }                
                },
            "patch":{
                "tags":["APSHCategory2"],
                "consumes":["application/json"],
                "produces":["application/json"],
                "parameters":[{
                    "name":"Code",
                    "in":"path",
                    "type":"string",
                    "required":true                    
                    },{
                    "in":"body",
                    "name":"body",
                    "schema":{
                        "$ref":"#/definitions/APSHCategory2"                        
                        },
                    "required":true                    
                    }],
                "responses":{
                    "200":{
                        "description":"success"                        
                        },
                    "400":{
                        "description":"Bad Request"                        
                        },
                    "404":{
                        "description":"APSHCategory2 not found"                        
                        }                    
                    }                
                }            
            },
        "/APSHCategory2":{
            "post":{
                "tags":["APSHCategory2"],
                "consumes":["application/json"],
                "produces":["application/json"],
                "parameters":[{
                    "in":"body",
                    "name":"body",
                    "schema":{
                        "$ref":"#/definitions/APSHCategory2"                        
                        },
                    "required":true                    
                    }],
                "responses":{
                    "200":{
                        "description":"success"                        
                        },
                    "400":{
                        "description":"Bad Request"                        
                        },
                    "404":{
                        "description":"APSHCategory2 not found"                        
                        }                    
                    }                
                },
            "get":{
                "tags":["APSHCategory2"],
                "produces":["application/json"],
                "responses":{
                    "200":{
                        "description":"success",
                        "schema":{
                            "$ref":"#/definitions/APSHCategory2"                            
                            }                        
                        },
                    "400":{
                        "description":"Bad Request"                        
                        },
                    "404":{
                        "description":"APSHCategory2 not found"                        
                        }                    
                    }                
                }            
            },
        "/APShipmentList('{DocumentID}')":{
            "get":{
                "tags":["APShipmentList"],
                "produces":["application/json"],
                "parameters":[{
                    "name":"DocumentID",
                    "in":"path",
                    "type":"integer",
                    "required":true                    
                    }],
                "responses":{
                    "200":{
                        "description":"success",
                        "schema":{
                            "$ref":"#/definitions/APShipmentList"                            
                            }                        
                        },
                    "400":{
                        "description":"Bad Request"                        
                        },
                    "404":{
                        "description":"APShipmentList not found"                        
                        }                    
                    }                
                }            
            },
        "/APShipmentList":{
            "get":{
                "tags":["APShipmentList"],
                "produces":["application/json"],
                "responses":{
                    "200":{
                        "description":"success",
                        "schema":{
                            "$ref":"#/definitions/APShipmentList"                            
                            }                        
                        },
                    "400":{
                        "description":"Bad Request"                        
                        },
                    "404":{
                        "description":"APShipmentList not found"                        
                        }                    
                    }                
                }            
            },
        "/APShipments('{DocumentID}')":{
            "get":{
                "tags":["APShipments"],
                "produces":["application/json"],
                "parameters":[{
                    "name":"DocumentID",
                    "in":"path",
                    "type":"integer",
                    "required":true                    
                    }],
                "responses":{
                    "200":{
                        "description":"success",
                        "schema":{
                            "$ref":"#/definitions/APShipments"                            
                            }                        
                        },
                    "400":{
                        "description":"Bad Request"                        
                        },
                    "404":{
                        "description":"APShipments not found"                        
                        }                    
                    }                
                },
            "delete":{
                "tags":["APShipments"],
                "consumes":["application/json"],
                "produces":["application/json"],
                "parameters":[{
                    "name":"DocumentID",
                    "in":"path",
                    "type":"integer",
                    "required":true                    
                    }],
                "responses":{
                    "200":{
                        "description":"success"                        
                        },
                    "400":{
                        "description":"Bad Request"                        
                        },
                    "404":{
                        "description":"APShipments not found"                        
                        }                    
                    }                
                },
            "put":{
                "tags":["APShipments"],
                "consumes":["application/json"],
                "produces":["application/json"],
                "parameters":[{
                    "name":"DocumentID",
                    "in":"path",
                    "type":"integer",
                    "required":true                    
                    },{
                    "in":"body",
                    "name":"body",
                    "schema":{
                        "$ref":"#/definitions/APShipments"                        
                        },
                    "required":true                    
                    }],
                "responses":{
                    "200":{
                        "description":"success"                        
                        },
                    "400":{
                        "description":"Bad Request"                        
                        },
                    "404":{
                        "description":"APShipments not found"                        
                        }                    
                    }                
                },
            "patch":{
                "tags":["APShipments"],
                "consumes":["application/json"],
                "produces":["application/json"],
                "parameters":[{
                    "name":"DocumentID",
                    "in":"path",
                    "type":"integer",
                    "required":true                    
                    },{
                    "in":"body",
                    "name":"body",
                    "schema":{
                        "$ref":"#/definitions/APShipments"                        
                        },
                    "required":true                    
                    }],
                "responses":{
                    "200":{
                        "description":"success"                        
                        },
                    "400":{
                        "description":"Bad Request"                        
                        },
                    "404":{
                        "description":"APShipments not found"                        
                        }                    
                    }                
                }            
            },
        "/APShipments":{
            "post":{
                "tags":["APShipments"],
                "consumes":["application/json"],
                "produces":["application/json"],
                "parameters":[{
                    "in":"body",
                    "name":"body",
                    "schema":{
                        "$ref":"#/definitions/APShipments"                        
                        },
                    "required":true                    
                    }],
                "responses":{
                    "200":{
                        "description":"success"                        
                        },
                    "400":{
                        "description":"Bad Request"                        
                        },
                    "404":{
                        "description":"APShipments not found"                        
                        }                    
                    }                
                },
            "get":{
                "tags":["APShipments"],
                "produces":["application/json"],
                "responses":{
                    "200":{
                        "description":"success",
                        "schema":{
                            "$ref":"#/definitions/APShipments"                            
                            }                        
                        },
                    "400":{
                        "description":"Bad Request"                        
                        },
                    "404":{
                        "description":"APShipments not found"                        
                        }                    
                    }                
                }            
            },
        "/APTransaction('{TransactionID}')":{
            "get":{
                "tags":["APTransaction"],
                "produces":["application/json"],
                "parameters":[{
                    "name":"TransactionID",
                    "in":"path",
                    "type":"integer",
                    "required":true                    
                    }],
                "responses":{
                    "200":{
                        "description":"success",
                        "schema":{
                            "$ref":"#/definitions/APTransaction"                            
                            }                        
                        },
                    "400":{
                        "description":"Bad Request"                        
                        },
                    "404":{
                        "description":"APTransaction not found"                        
                        }                    
                    }                
                },
            "delete":{
                "tags":["APTransaction"],
                "consumes":["application/json"],
                "produces":["application/json"],
                "parameters":[{
                    "name":"TransactionID",
                    "in":"path",
                    "type":"integer",
                    "required":true                    
                    }],
                "responses":{
                    "200":{
                        "description":"success"                        
                        },
                    "400":{
                        "description":"Bad Request"                        
                        },
                    "404":{
                        "description":"APTransaction not found"                        
                        }                    
                    }                
                },
            "put":{
                "tags":["APTransaction"],
                "consumes":["application/json"],
                "produces":["application/json"],
                "parameters":[{
                    "name":"TransactionID",
                    "in":"path",
                    "type":"integer",
                    "required":true                    
                    },{
                    "in":"body",
                    "name":"body",
                    "schema":{
                        "$ref":"#/definitions/APTransaction"                        
                        },
                    "required":true                    
                    }],
                "responses":{
                    "200":{
                        "description":"success"                        
                        },
                    "400":{
                        "description":"Bad Request"                        
                        },
                    "404":{
                        "description":"APTransaction not found"                        
                        }                    
                    }                
                },
            "patch":{
                "tags":["APTransaction"],
                "consumes":["application/json"],
                "produces":["application/json"],
                "parameters":[{
                    "name":"TransactionID",
                    "in":"path",
                    "type":"integer",
                    "required":true                    
                    },{
                    "in":"body",
                    "name":"body",
                    "schema":{
                        "$ref":"#/definitions/APTransaction"                        
                        },
                    "required":true                    
                    }],
                "responses":{
                    "200":{
                        "description":"success"                        
                        },
                    "400":{
                        "description":"Bad Request"                        
                        },
                    "404":{
                        "description":"APTransaction not found"                        
                        }                    
                    }                
                }            
            },
        "/APTransaction":{
            "post":{
                "tags":["APTransaction"],
                "consumes":["application/json"],
                "produces":["application/json"],
                "parameters":[{
                    "in":"body",
                    "name":"body",
                    "schema":{
                        "$ref":"#/definitions/APTransaction"                        
                        },
                    "required":true                    
                    }],
                "responses":{
                    "200":{
                        "description":"success"                        
                        },
                    "400":{
                        "description":"Bad Request"                        
                        },
                    "404":{
                        "description":"APTransaction not found"                        
                        }                    
                    }                
                },
            "get":{
                "tags":["APTransaction"],
                "produces":["application/json"],
                "responses":{
                    "200":{
                        "description":"success",
                        "schema":{
                            "$ref":"#/definitions/APTransaction"                            
                            }                        
                        },
                    "400":{
                        "description":"Bad Request"                        
                        },
                    "404":{
                        "description":"APTransaction not found"                        
                        }                    
                    }                
                }            
            },
        "/APTransactionList('{TransactionID}')":{
            "get":{
                "tags":["APTransactionList"],
                "produces":["application/json"],
                "parameters":[{
                    "name":"TransactionID",
                    "in":"path",
                    "type":"integer",
                    "required":true                    
                    }],
                "responses":{
                    "200":{
                        "description":"success",
                        "schema":{
                            "$ref":"#/definitions/APTransactionList"                            
                            }                        
                        },
                    "400":{
                        "description":"Bad Request"                        
                        },
                    "404":{
                        "description":"APTransactionList not found"                        
                        }                    
                    }                
                }            
            },
        "/APTransactionList":{
            "get":{
                "tags":["APTransactionList"],
                "produces":["application/json"],
                "responses":{
                    "200":{
                        "description":"success",
                        "schema":{
                            "$ref":"#/definitions/APTransactionList"                            
                            }                        
                        },
                    "400":{
                        "description":"Bad Request"                        
                        },
                    "404":{
                        "description":"APTransactionList not found"                        
                        }                    
                    }                
                }            
            },
        "/ARAllocation('{AllocationID}')":{
            "get":{
                "tags":["ARAllocation"],
                "produces":["application/json"],
                "parameters":[{
                    "name":"AllocationID",
                    "in":"path",
                    "type":"integer",
                    "required":true                    
                    }],
                "responses":{
                    "200":{
                        "description":"success",
                        "schema":{
                            "$ref":"#/definitions/ARAllocation"                            
                            }                        
                        },
                    "400":{
                        "description":"Bad Request"                        
                        },
                    "404":{
                        "description":"ARAllocation not found"                        
                        }                    
                    }                
                },
            "delete":{
                "tags":["ARAllocation"],
                "consumes":["application/json"],
                "produces":["application/json"],
                "parameters":[{
                    "name":"AllocationID",
                    "in":"path",
                    "type":"integer",
                    "required":true                    
                    }],
                "responses":{
                    "200":{
                        "description":"success"                        
                        },
                    "400":{
                        "description":"Bad Request"                        
                        },
                    "404":{
                        "description":"ARAllocation not found"                        
                        }                    
                    }                
                }            
            },
        "/ARAllocation":{
            "get":{
                "tags":["ARAllocation"],
                "produces":["application/json"],
                "responses":{
                    "200":{
                        "description":"success",
                        "schema":{
                            "$ref":"#/definitions/ARAllocation"                            
                            }                        
                        },
                    "400":{
                        "description":"Bad Request"                        
                        },
                    "404":{
                        "description":"ARAllocation not found"                        
                        }                    
                    }                
                }            
            },
        "/ARBudget('{CustomerCode}')":{
            "get":{
                "tags":["ARBudget"],
                "produces":["application/json"],
                "parameters":[{
                    "name":"CustomerCode",
                    "in":"path",
                    "type":"string",
                    "required":true                    
                    }],
                "responses":{
                    "200":{
                        "description":"success",
                        "schema":{
                            "$ref":"#/definitions/ARBudget"                            
                            }                        
                        },
                    "400":{
                        "description":"Bad Request"                        
                        },
                    "404":{
                        "description":"ARBudget not found"                        
                        }                    
                    }                
                },
            "put":{
                "tags":["ARBudget"],
                "consumes":["application/json"],
                "produces":["application/json"],
                "parameters":[{
                    "name":"CustomerCode",
                    "in":"path",
                    "type":"string",
                    "required":true                    
                    },{
                    "in":"body",
                    "name":"body",
                    "schema":{
                        "$ref":"#/definitions/ARBudget"                        
                        },
                    "required":true                    
                    }],
                "responses":{
                    "200":{
                        "description":"success"                        
                        },
                    "400":{
                        "description":"Bad Request"                        
                        },
                    "404":{
                        "description":"ARBudget not found"                        
                        }                    
                    }                
                },
            "patch":{
                "tags":["ARBudget"],
                "consumes":["application/json"],
                "produces":["application/json"],
                "parameters":[{
                    "name":"CustomerCode",
                    "in":"path",
                    "type":"string",
                    "required":true                    
                    },{
                    "in":"body",
                    "name":"body",
                    "schema":{
                        "$ref":"#/definitions/ARBudget"                        
                        },
                    "required":true                    
                    }],
                "responses":{
                    "200":{
                        "description":"success"                        
                        },
                    "400":{
                        "description":"Bad Request"                        
                        },
                    "404":{
                        "description":"ARBudget not found"                        
                        }                    
                    }                
                }            
            },
        "/ARBudget":{
            "get":{
                "tags":["ARBudget"],
                "produces":["application/json"],
                "responses":{
                    "200":{
                        "description":"success",
                        "schema":{
                            "$ref":"#/definitions/ARBudget"                            
                            }                        
                        },
                    "400":{
                        "description":"Bad Request"                        
                        },
                    "404":{
                        "description":"ARBudget not found"                        
                        }                    
                    }                
                }            
            },
        "/ARCategory1('{Code}')":{
            "get":{
                "tags":["ARCategory1"],
                "produces":["application/json"],
                "parameters":[{
                    "name":"Code",
                    "in":"path",
                    "type":"string",
                    "required":true                    
                    }],
                "responses":{
                    "200":{
                        "description":"success",
                        "schema":{
                            "$ref":"#/definitions/ARCategory1"                            
                            }                        
                        },
                    "400":{
                        "description":"Bad Request"                        
                        },
                    "404":{
                        "description":"ARCategory1 not found"                        
                        }                    
                    }                
                },
            "delete":{
                "tags":["ARCategory1"],
                "consumes":["application/json"],
                "produces":["application/json"],
                "parameters":[{
                    "name":"Code",
                    "in":"path",
                    "type":"string",
                    "required":true                    
                    }],
                "responses":{
                    "200":{
                        "description":"success"                        
                        },
                    "400":{
                        "description":"Bad Request"                        
                        },
                    "404":{
                        "description":"ARCategory1 not found"                        
                        }                    
                    }                
                },
            "put":{
                "tags":["ARCategory1"],
                "consumes":["application/json"],
                "produces":["application/json"],
                "parameters":[{
                    "name":"Code",
                    "in":"path",
                    "type":"string",
                    "required":true                    
                    },{
                    "in":"body",
[...]
